.Button {
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: 0;
  font: inherit;
  margin: 10px;
  border-radius: 7px;
}

.Button img{
  float:left;
  margin-right: 5px;
}

.Button div {
  padding: 7px 10px;
  height: 25px;
  line-height: 25px;
}

.Primary {
  background-color: #0099DC;
  box-shadow: 0 2px #4562c1;
}

.ImageButton {
  margin: 3px;
}
.ImageButton:hover {
  box-shadow: 0 0 5px #d9d9d9;
}