.AllCards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
}


.Card {
  color: white;
  margin: 0 5px;
  box-sizing: border-box;
  font-style: italic;
  display: block;
  width: 100%;
}

.Card * {
  margin: 0;
}

.CardTitle {
  font-weight: bold;
}

.CardBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.CardBody p:nth-child(2) {
  text-align: right;
}

.CardTitle, .CardBody {
  padding: 10px 10px;
}

.CardPrimary {
  background: linear-gradient(to bottom, #718bb4 50%, #697aab 0%);
}

.CardDanger {
  background: linear-gradient(to bottom, #b43860 50%, #ab163e 0%);
}

.CardSuccess {
  background: linear-gradient(to bottom, #60b45b 50%, #17ab5d 0%);
}

.RowDiv {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  height: 100%;
}

.ColumnDiv {
  flex-flow: column;
  align-items: center;
  height: 100px;
  width: 500px;
}

.SaleCard {
  padding: 1px 10px 10px 10px;
  margin: 10px 5px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px #ccc;
  background-color: white;
  border-radius: 7px;
  position: relative;
}

.SaleCard .Currency {
  position: absolute;
  bottom: 0;
  right: 0;
}