.AllCards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
}


.Card {
  color: white;
  padding: 0 10px;
  margin: 0 5px;
  background: linear-gradient(to bottom, #718bb4 50%, #697aab 0%);
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.RowDiv {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  height: 100%;
}

.ColumnDiv {
  flex-flow: column;
  align-items: center;
  height: 100px;
  width: 500px;
}

.SaleCard {
  padding: 1px 10px 10px 10px;
  margin: 10px 5px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px #ccc;
  background-color: white;
  border-radius: 7px;
  position: relative;
}

.SaleCard .Currency {
  position: absolute;
  bottom: 0;
  right: 0;
}