.AllCards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
}


.Card {
  color: white;
  margin: 0 5px;
  box-sizing: border-box;
  font-style: italic;
  display: block;
  width: 100%;
}

.Card * {
  margin: 0;
}

.CardTitle {
  font-weight: bold;
}

.CardBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.CardBody p:nth-child(2) {
  text-align: right;
}

.CardTitle, .CardBody {
  padding: 10px 10px;
}

.CardPrimary {
  background: linear-gradient(to bottom, #5383A4 50%, #49738E 0%);
}

.CardDanger {
  background: linear-gradient(to bottom, #B35C5F 50%, #944749 0%);
}

.CardSuccess {
  background: linear-gradient(to bottom, #5EA462 50%, #4F8E56 0%);
}

.RowDiv {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  height: 100%;
}

.ColumnDiv {
  flex-flow: column;
  align-items: center;
  height: 100px;
  width: 500px;
}

.EnterpriseIcon {
  opacity: 0.5;
  width: 18px;
}

.SaleCard {
  padding: 10px 10px 0 10px;
  margin: 5px 5px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px #ccc;
  background-color: white;
  border-radius: 7px;
  min-height: 80px;
  color: dimgrey;
}

.SaleCard * {
  margin: 0;
}

.SaleCard p {
  margin: 0 0 5px 5px;
}

.Currency {
  text-align: right;
  color: #5EA462;
}